* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #212121;
  color: #fff;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #494949;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #ddd;
  border: 1px solid #000000;
  border-radius: 4px;
}

form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

.expense-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#expenseTable {
  min-width: 500px;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#expenseTable th,
#expenseTable td {
  border: 1px solid #212121;
  padding: 8px;
  min-width: 150px;
}

#expenseTable th {
  background-color: #363d36;
}

#expenseTable td button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#expenseTable td button:hover {
  background-color: #c82333;
}

.hidden {
  display: none;
}
